<footer>
    <section class="contact">
        <h2>Contact</h2>
        <p>Pentru mai multe informații, <a href="mailto:email@exemplu.com">trimiteți un email</a> sau vizitați-ne la <a href="https://maps.google.com/?q=Facultatea de Matematica si Informatica" target="_blank">Facultatea de Matematică și Informatică</a>.</p>
    </section>
    <address>
        <a href="tel:+1234567890">+123 456 7890</a><br>
        <a href="https://www.google.com/maps/place/Facultatea+de+Matematică+și+Informatică,+Universitatea+din+București/@44.435563,26.099308,17z" target="_blank">Facultatea de Matematică și Informatică, Universitatea din București</a><br>
        <a href="mailto:info@fictiv.com">info@fictiv.com</a><br>
        <a href="https://wa.me/1234567890" target="_blank">Contactați-ne pe WhatsApp</a>
    </address>
    <a id="link-top" href="#top"></a>
    <small>&copy; <time datetime="2023-01-01">1 Ianuarie 2023</time>. Toate drepturile rezervate.</small>
</footer>
